:root {
  --bg-dark: #2E2F42; 
  --btn-bg-focus-cl: #404BBF;
  --check-fill-cl: #F4F4FD;}

:root {
--link-focus-cl: #404BBF;
--sbt-text-cl: #2E2F42;
--conts-text-cl: #434455; 
--pf-btn-text-cl: #4D5AE5; 
--cust-link-cl: #8e8f99;}

/*=======common styles=======*/

body {
font-family: 'Roboto', sans-serif;
letter-spacing: 0.02em;
color: #434455;
font-size: 16px;
line-height: 1.5;
background-color: #FFFFFF;}

/*reset*/

.list {list-style: none;}
.list-item {list-style: none;}
.link {text-decoration: none; color: currentColor;}

/*logo styles*/

.logo {font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;}
.top-sec-studio-cl {color: #2E2F42;}
.studio-cl {color: #F4F4FD;}

/*btn & link styles*/

.list .link {letter-spacing: 0.02em;
text-decoration: none; position: relative; transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
transition-delay: 0ms;}

.list .link:hover,
.list .link:focus {color: var(--link-focus-cl);}

/*Page Text*/

.second-lev-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: var(--sbt-text-cl);
text-align: center;
text-transform: capitalize;}
.third-lev-title {
font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em; 
color: var(--sbt-text-cl);}
.parag {font-size: 16px;}
.pf-parag {color: var(--conts-text-cl);}
.bottom-text {color: #F4F4FD;}

/**
  |====================================
  |   Elements Geometry & Location
  |====================================
*/

/*=== Global ===*/

*,
*::before,
*::after {box-sizing: border-box}
h1, h2, h3, h4, h5, h6 {margin: 0;}
p {margin: 0;}
ul {margin: 0;
padding: 0;
list-style-type: none;}

/*main content flex grow & sticked footer*/

.page-container {
  min-height: 100vh;
display: flex;
flex-direction: column;}
.main-container {flex-grow: 1;}

/*======= COMMON =======*/

/* container for small screens */
.container {
  min-width: 320px;
  max-width: 428px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;}

 /* outline: 2px solid #d71414; */

/* container for tablets */
@media screen and (min-width: 768px) {
  .container  {
    display: flex;    
    min-width: 768px;
    max-width: 769px;
    }}

/* container for PC */
@media only screen and (min-width: 1158px) {
  .container  {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;}}

.list {display: flex; flex-wrap: wrap;}
.pic {display: block;}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

/**
  |====================================
  |   *--header--*
  |====================================
*/

/* header for small screens */

@media only screen and (max-width: 767.9px) {.menu-box .menu {display: none;}
  .conts {display: none;}}

.top-section { 
  border-bottom: 1px solid #E7E9FC; 
  background: #FFF;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);}

.header-contr {display: flex; 
  justify-content: space-between;
  align-items: center;
  padding: 24px 16px;}

/* .header-contr-box {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding: 24px 0px;} */


/* header for tablets */
@media only screen and (max-width: 1157.9px) {
  .header-contr {
    display: flex;
    padding: 0px 16px;}
  .header-contr-box {display: flex;}
  .lgo-top {margin-right: 120px; padding: 24px 0px;}
  
  .menu-box {
    display: flex; 
    gap: 40px;}
  .menu {
    display: flex;  
    padding: 24px 0px; 
    font-weight: 500;
    color: var(--sbt-text-cl);}
  .conts {
    margin-right: 0; 
    margin-left: auto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.48px;} 
  .conts-box {
    display: flex; 
    flex-direction: column;
    gap: 12px; 
    }
  .company-conts {display: flex;}}

@media only screen and (min-width: 768px) {
  .menu.active::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--link-focus-cl);
    border-radius: 2px;} 
  .active {color: var(--link-focus-cl);}
  .conts {font-style: normal;}
  .company-conts {color: var(--conts-text-cl);}}

/* header for PC */
@media only screen and (min-width: 1158px) {
  .header-contr {
    display: flex;
    padding: 0px 16px;}
  .header-contr-box {display: flex;}
  .lgo-top {margin-right: 76px; padding: 24px 0px;}
  
  .menu-box {
    display: flex; 
    gap: 40px;}
  .menu {
    display: flex;  
    padding: 24px 0px; 
    font-weight: 500;
    color: var(--sbt-text-cl);}
  /* .conts {
    margin-right: 0; 
    margin-left: auto;}  */
  .conts-box {
    display: flex; 
    gap: 40px; 
    padding: 24px 0px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;}}

/**
  |====================================
  |   *--hero section--*
  |====================================
*/

/* container for small screens */
/* container for tablets */
/* container for PC */

.main-page { 
  padding-top: 112px;
  padding-bottom: 112px;
   max-width: 1440px; 
   margin-left: auto; 
   margin-right: auto;

  background: var(--bg-dark);
  background-image: linear-gradient(
    to bottom,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)), 
  url(../images/hero-mob@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;}

  /* -----Retina screen----- */

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .main-page {background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ), url(../images/hero-mob@2x.jpg);}}

  @media only screen and (min-width: 428px) {
    .main-page {background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ), url(../images/hero-tab@1x.jpg);}
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      .main-page {background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ), url(../images/hero-tab@2x.jpg);}}} 
   
  @media only screen and (min-width: 769px) {
    .main-page {background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ), url(../images/hero-pc@1x.jpg);}
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .main-page {background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ), url(../images/hero-pc@2x.jpg);}}}     


.main-box {display: flex; flex-direction: column; align-items: center;}

.main-page-title {
  max-width: 320px; 
  margin-bottom: 72px;
  color: #FFFFFF; 
  font-Weight: Bold;
  font-Size: 36px;
  letter-spacing: 0.72px;
  line-height: 1.11;
  text-align: center;}

  @media only screen and (min-width: 768px) {
    .main-page-title {
      max-width: 496px; 
      margin-bottom: 36px;
      color: #FFFFFF; 
      font-Weight: Bold;
      font-Size: 56px;
      letter-spacing: 0.02em;
      line-height: 1.07;
      text-align: center;}
  }
  @media only screen and (min-width: 1158px) {
    .main-page { 
      padding-top: 188px;
      padding-bottom: 188px;}
      .main-page-title {
        max-width: 496px; 
        margin-bottom: 48px;
        color: #FFFFFF; 
        font-Weight: Bold;
        font-Size: 56px;
        letter-spacing: 0.02em;
        line-height: 1.07;
        text-align: center;}}


.mp-btn-order {align-self: center; 
border-radius: 4px;
border: none;
padding: 16px 32px;
gap: 10px;
min-width: 169px;
height: 56px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: #4D5AE5;
  border: 1px solid #4D5AE5;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  cursor: pointer; 
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
  transition-delay: 0ms;}
  
  .mp-btn-order:hover,
  .mp-btn-order:focus {
  background-color: var(--btn-bg-focus-cl);
  }

/**
  |====================================
  |   *--advantages section--*
  |====================================
*/


@media only screen and (max-width: 1157.99px) {
  .adv-icon-box {display: none;}}


/* advant for small screens */

.advant-section {  
  padding: 96px 0px;
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;
}
.advant-list {display: flex; gap: 72px;}
.advant-unit {max-width: 396px;}
.advant-unit-title {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-bottom: 8px;}

  .advant-unit-title {  
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em; 
    color: rgba(46, 47, 66, 1);} 
  .advant-unit-descr {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em; 
    color: rgba(67, 68, 85, 1);
    }

/* advant for tablets */

@media only screen and (min-width: 768px) {
  .advant-section {  
    display: flex; 
    max-width: 768px;}
  .advant-list {
    display: flex;    
    gap: 72px 24px; 
    flex-wrap: wrap; }
  .advant-unit {
    display: flex; 
    flex-direction: column; 
    max-width: 356px;}
  .advant-unit-title {
    display: flex;
    justify-content: start; 
    align-items: center;
    }
  }

/* advant for PC */

@media only screen and (min-width: 1158px) {
  .advant-section {display: flex;
    max-width: 1158px;
    padding-top: 120px; 
    padding-bottom: 120px;}
  .advant-list {display: flex; max-width: 1128px; gap: 24px;}
  .advant-unit {max-width: 264px}
  .advant-unit-title {
    margin-bottom: 8px; 
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em; 
    color: rgba(46, 47, 66, 1);}
  .adv-icon-box {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: #F4F4FD; 
    border-radius: 4px;
    width: 264px; 
    height: 112px; 
    margin-bottom: 8px;} 
  .adv-icon {
    display: flex; 
    justify-content: center; 
    align-items: center;}
  .advant-unit-descr {
    font-weight: 400;}}

/**
  |====================================
  |   *--studio section--*
  |====================================
*/

/* container for small screens */
/* container for tablets */
@media only screen and (max-width: 1157.9px) {
  .studio-section {display: none;}
}
/* container for PC */

.studio-section {padding-bottom: 120px;}
.studio-contr {display: flex; flex-direction: column; align-items: center;}
.pic-box {display: flex; width: 1128px; gap: 24px;}
.pic-box-item {width: 360px; height: 300;}
.studio-title {margin-bottom: 72px;}

/**
  |====================================
  |   *--Team section--*
  |====================================
*/
/* Our Team for small screens */
.team-section {
  background: #F4F4FD; 
  padding: 96px 0;}
.team-contr {display: flex; flex-direction: column; align-items: center;}
.team-title {margin-bottom: 72px;}
.team-pic-box {
  display: flex; 
  flex-direction: column; 
  align-items: center;
  max-width: 428px; 
  gap: 72px;}
  .team-box-item {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    width: 264px; 
    border-radius: 0px 0px 4px 4px; 
    box-shadow:
    0px 1px 6px 0px rgba(46, 47, 66, 0.08), 
    0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    background-color: #FFFFFF;
  }
  /* .list-item {background-color: #FFFFFF;} */
  
  .tm-text {padding: 32px 0px;}
  .tm-name {text-align: center; margin-bottom: 8px}
  .parag {text-align: center;}
  
  .tm-soc-conts {
    display: flex; 
    justify-content: center; 
    gap: 24px; margin-top: 8px;}
  .soc-conts-link { 
    display: flex; 
    justify-content: center; 
    align-items: center;    
    border: 1px solid none; border-radius: 50%;
    background-color: #4D5AE5;
    width: 40px; 
    height: 40px; 
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
    transition-delay: 0ms;}
  
  
  .soc-conts-link:hover, 
  .soc-conts-link:focus {background-color: #404BBF;} 
  .soc-conts-icon {width: 16px; 
    height: 16px; fill:#F4F4FD;}

/* Our Team for tablets */

@media only screen and (min-width: 768px) {
  .team-pic-box {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    max-width: 768px; 
    gap: 64px 24px;}}

/* Our Team for PC */

@media only screen and (min-width: 1158px) {
  .team-section {padding: 120px 0;}
  .team-contr {
    display: flex; 
    flex-direction: column; 
    align-items: center;}
  .team-title {margin-bottom: 72px;}  
  .team-pic-box {
    display: flex; 
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
    max-width: 1128px; 
    gap: 0px 24px;}}

/**
  |====================================
  |   *--Customers--*
  |====================================
*/
/* Customers for small screens */

.custom-contr {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  padding: 96px 16px;} 
.custom-cont-title {margin-bottom: 72px;}
.custom-box {
  display: flex; 
  justify-content: center; 
  flex-wrap: wrap;
  gap: 72px 16px;}
.custom-item {width: 190px; height: 88px;} 

  .custom-link { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    color: var(--cust-link-cl);   
    border: 1px solid rgba(142, 143, 153, 1); border-radius: 4px;  
    height: 88px;    
    transition:  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    transition-delay: 0ms;}
    
  .custom-icon {
    width: 110px; 
    height: 56px; 
    fill: currentColor; 
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}
  
    .custom-link:hover, 
    .custom-link:focus {border-color: #404BBF; 
    color: #404bbf; fill: #404bbf;}

/* customers for tablets */
@media only screen and (min-width: 768px) {
  .custom-contr {padding: 96px 108px;}
  .custom-box {gap: 72px 24px;}
  .custom-item {width: 168px; height: 88px;}
  .custom-icon {width: 104px;}}

/* customers for PC */
@media only screen and (min-width: 1158px) {
  .custom-contr {padding: 120px 0px;} 
  .custom-cont-title {margin-bottom: 72px;}
  .custom-box {
    display: flex; 
    justify-content: center; 
    gap: 24px;}  
  .custom-item {width: 168px; height: 88px;}}
  

/**
  |====================================
  |   *--Footer--*
  |====================================
*/
/* container for small screens */

.bottom-section {padding: 96px 0px; background: var(--bg-dark);}
.ftr-contr {
  display: flex; 
  justify-content: center;
  flex-direction: column; 
  align-items: center;}

  .logo-box {display: flex; 
    justify-content: center;  
    flex-direction: column; 
    align-items: center;
    margin-bottom: 72px;}  
  
  .lgo-btm {
    display: inline-block; 
    margin-bottom: 16px;}

  .bottom-text {width: 268px;}

  .soc-conts-box {
    display: flex; 
    justify-content: center;
    flex-direction: column; 
    align-items: center;
  gap: 16px;
  margin-bottom: 72px;} 

  .ftr-soc-title {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em; 
    color: #FFFFFF;}

  .ftr-soc-conts {display: flex; gap: 16px;}
  .ftr-soc-conts-link { 
    display: flex; 
    justify-content: center; 
    align-items: center;    
    border: 1px solid none; border-radius: 50%;
    background-color: #4D5AE5;
    width: 40px; 
    height: 40px; 
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}
  
  .ftr-soc-conts-link:hover,
  .ftr-soc-conts-link:focus {
    background-color: #31D0AA;}
    
  .ftr-soc-conts-icon {
    width: 24px; 
    height: 24px; 
    fill:#F4F4FD;}



  /*-----Footer form-----*/

  .ftr-form-sect {
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    width: 100%;}

  .ftr-form-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em; 
    color: #FFFFFF; 
    margin-bottom: 16px;}  
  .ftr-form {
    display: flex;  
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    gap: 16px;
  width: 100%;}  

  .ftr-label {display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%;}
  
  .ftr-input {
    padding: 8px 16px;
    width: 100%; 
    height: 40px; 
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    background-color: transparent; 
    color: #FFFFFF;
    filter: drop-shadow(0px 4px 4px 
    rgba(0, 0, 0, 0.15));}  
  
    .ftr-input::placeholder {color: #FFFFFF;} 

  /* footer for tablets */
@media only screen and (min-width: 768px) {
  .ftr-contr {
    display: flex; 
    justify-content: start;
    flex-direction: row; 
    flex-wrap: wrap;
    align-items: start;
    gap: 72px 24px;    
    padding-left: 108px;}
  .logo-box {display: flex; 
    justify-content: start;
    flex-direction: column;
    align-items: start; 
    margin-bottom: 0px;}
  .soc-conts-box {display: flex; 
    justify-content: start;
    flex-direction: column;
    align-items: start; 
    margin-bottom: 0px;} 
  
  .ftr-form-sect {
    display: flex; 
    justify-content: start;
    flex-direction: column;
    align-items: start; 
    width: 453px;}
  .ftr-form {
    display: flex;
    flex-direction: row;
    justify-content: start; 
    align-items: start; 
    gap: 24px;
    width: 453px;}   
  .ftr-label {width: 264px;}
  .ftr-input {width: 264px;}}

/* footer for PC */

@media only screen and (min-width: 1158px) {
  .bottom-section {padding: 100px 0px;}
  .ftr-contr {display: flex; flex-direction: row; justify-content: start; align-items: baseline; padding-left: 16px; flex-wrap: nowrap; gap: 0px;}
  .logo-box {margin-right: 120px;}
  .bottom-text {width: 264px;}}

  @media only screen and (min-width: 1158px) {    
    .ftr-form-sect {
      display: flex; 
      flex-direction: column;
      justify-content: start; 
      align-items: start;
      margin-left: 80px; 
      width: 453px;}
    .ftr-form {
      display: flex;  
      justify-content: start; 
      align-items: start; 
      gap: 24px;}} 

    @media only screen and (min-width: 1158px) {
      .ftr-label {width: 264px;}
      .ftr-input {width: 264px;}
    }
    
  .ftr-form-btn {display: flex; 
    justify-content: center;
    align-items: center;
    
    min-width: 165px;
    height: 40px;
    border: none;
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
  
    .ftr-form-btn:hover,
    .ftr-form-btn:focus {background-color: var(--btn-bg-focus-cl);}
  
  .ftr-modal-icon {margin-left: 16px;}  

/**
  |======================================
  |         Portfolio main page
  |======================================
*/

/*--General--*/

.pf-sectn {padding-top: 96px; padding-bottom: 120px;}

.pf-contr {display: flex; 
    flex-direction: column;
    align-items: center;}

/*--Portfolio buttons--*/

.btn {display: flex; 
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;}

.portfolio-filter {padding: 12px 24px; 
    border: 1px solid #E7E9FC; 
    border-radius: 4px;}   

    .btn .portfolio-filter {
      background: #F4F4FD;
      border: 1px solid #E7E9FC;
      font-family: inherit;
      font-size: 16px;
      line-height: 1.5;
      font-weight: 500;
      text-align: center;
      letter-spacing: 0.04em;
      color: var(--pf-btn-text-cl);
      cursor: pointer; 
      transition: 
      color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);}
      
      
      .btn .portfolio-filter:hover,
      .btn .portfolio-filter:focus {
      background-color: var(--btn-bg-focus-cl);
      border-color: 1px solid transparent;
      color: #FFFFFF;
      box-shadow: 
      0px 3px 1px rgba(0, 0, 0, 0.1), 
      0px 2px 1px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);}
        
    
    /*--Portfolio section--*/

.pf-unit-list {display: flex;
flex-wrap: wrap;
width: 1128px;
gap: 48px 24px;}

.pf-unit {
display: flex; 
flex-direction: column; 
align-items: center; 
padding-bottom: 32px; 
width: calc((100% - 2 * 24px) / 3);
height: 420px;} 

.product-site {
display: block;
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);}  
  
.product-site:hover {box-shadow: 
  0px 1px 6px rgba(46, 47, 66, 0.08),
  0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);}

.pf-text {padding: 32px 16px; 
    border: 1px solid #e7e9fc; 
    border-top: none;}    
.pf-title {margin-bottom: 8px;}

/*-----Overlay-----*/

.pic-overlay-box {position: relative; overflow: hidden;}
.overlay-text {
position: absolute;
background-color: #4D5AE5;
color: #F4F4FD;
padding: 40px 32px;
top: 0;
left: 0;
width: 100%;
height: 100%;

transform: translateY(100%); 
transition-property: transform;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.product-site:hover .overlay-text
{transform: translateY(0);}
.product-site:focus .overlay-text {transform: translateY(0);}

/**
  |============================
  | ----Modal section---
  |============================
*/
.backdrop {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(46, 47, 66, 0.4);
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
opacity: 1;
visibility: visible;
pointer-events: initial;}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;}

.modal {display: flex;
  flex-direction: column;
  
position: relative;
top: 50%;
left: 50%;
transform: translateX(-50%) translateY(-50%);  
width: 408px;
min-height: 584px;
border-radius: 4px;
background-color: #FCFCFC;
box-shadow: 
0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
0px 1px 3px 0px rgba(0, 0, 0, 0.12), 
0px 2px 1px 0px rgba(0, 0, 0, 0.2);
padding: 72px 24px 24px 24px;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);}

@media only screen and (max-width: 428px) {
  .modal {width: 392px;}}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translateX(-50%) translateY(-70%);  
}

.modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #E7E9FC;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.modal-icon {
stroke: rgba(0, 0, 0, 0.1);
fill: #2E2F42; 
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}

 .modal-btn:hover, 
 .modal-btn:focus {background-color: #404bbf; border: none;}

 .modal-btn:hover .modal-icon {fill: #ffffff;}
 .modal-btn:focus .modal-icon  {fill: #ffffff;}

 /*-----Modal form-----*/

 .form-title {display: flex;
  justify-content: center;
  align-items: center;  
  text-align: center; 
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em; color: #2E2F42; 
  margin-bottom: 16px;}

 .modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  max-width: 360px;}


  .form-unit {
    display: flex;
    flex-direction: column;    
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(142, 143, 153, 1);
    margin-bottom: 8px;}

.form-field { 
  display: block;
  flex-direction: column;    
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(142, 143, 153, 1);
  margin-bottom: 4px;}

  .form-input-box {position: relative;}

  .form-input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 38px;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color:  rgba(46, 47, 66, 0.4);
    outline: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 40px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;}

  .form-input:focus {border-color: rgba(77, 90, 229, 1);}

  .form-icon {
    position: absolute;
    left: 16px;
    bottom: 8px;
    fill: rgba(46, 47, 66, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    top: 50%;
    transform: translateY(-50%);
  }

  .form-input:focus + .form-icon {fill: #4D5AE5;}

  .comm-form-unit {
    display: flex;
    flex-direction: column;    
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(142, 143, 153, 1);
    background-color: transparent;

    margin-bottom: 16px;}

  .comm-form-input { 
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    outline: transparent;
    background-color: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 120px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

  .comm-form-input:focus {border-color: rgba(77, 90, 229, 1);}

  .comm-form-input::placeholder {color: rgba(46, 47, 66, 0.4); font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.04em;}

     /*---check box section---*/

.agreement-sect {
  display: flex;     
  width: 360px; 
  margin-bottom: 24px;} 

.custom-check-box {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px; 
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}  

  .check-box:focus + .policy .custom-check-box {background-color: var(--btn-bg-focus-cl); 
    border: none;
    fill: var(--check-fill-cl);}  

.check-box:checked + .policy .custom-check-box {background-color: var(--btn-bg-focus-cl); 
  border: none;
  fill: var(--check-fill-cl);}  
  

  .policy {font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em; 
    color:   #8e8f99;;
    user-select: none;}

   .policy-link {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color:  var(--pf-btn-text-cl);
    text-decoration: underline;}


  .form-button {display: block;
  justify-content: center;
  align-items: center;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4D5AE5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

  .form-button:hover,
  .form-button:focus {background-color: var(--btn-bg-focus-cl);}

 



/**
  |============================
  | ----Mobile menu section---
  |============================
*/

/*--burger icon--*/
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) {
  .menu-toggle {display: none;}
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);}

.menu-toggle-icon {stroke: #2E2F42;}

/*--mobile menu overlay--*/
.menu-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  
  padding-top: 80px;
  padding-bottom: 40px;
  padding-left: 40px;
  background-color: #FFF;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.menu-container.is-open {
  transform: translateX(0);}

  /*--overlay X-BTN--*/
.menu-container .menu-toggle-x {
  position: absolute;
  top: 24px;
  right: 24px;
  color: rgba(46, 47, 66, 1);
}
.menu-toggle-x {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px; 
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%; 
  background: #E7E9FC;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);}

  .menu-toggle-x:hover, 
  .menu-toggle-x:focus {
    background-color: #404bbf; 
    border: none;}

  .menu-toggle-x:hover .menu-toggle-x-icon {fill: #ffffff;}
  .menu-toggle-x:focus .menu-toggle-x-icon  {fill: #ffffff;}

  /*--menu overlay--*/
.mobile-menu {
  display: flex; 
  flex-direction: column;
  gap: 40px;
  padding: 0;
  margin-bottom: auto;
  list-style: none;}

.mobile-menu-link {
  color: #2E2F42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);}

  .mobile-menu-link:hover, 
  .mobile-menu-link:focus {
    color: #404bbf;}

  .company-conts-box {
    display: flex; 
    flex-direction: column;
    gap: 40px;
    margin-bottom: 48px; 
    }

   .tel {
    color: #434455;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11px;
    letter-spacing: 0.72px;
    text-transform: capitalize; 
    text-decoration: none;} 

    .mail {color: #434455;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px; 
    text-decoration: none;}

    .tel:hover, 
    .tel:focus {
    color: #404bbf;}

    .mail:hover, 
    .mail:focus {
    color: #404bbf;}

  .mob-menu-soc-box {
    display: flex; 
    justify-content: start; 
    align-items: center; 
    flex-direction: row; 
    width: 328px;
    gap: 56px;}